body * {
    margin: 0;
    padding: 0;
    font-family: "Cabin", sans-serif;

}

html {
    scroll-behavior: smooth;
}

.nav-black {
    background-color: black;
    color: white;
}

/* Hace que carrusel cubra el nav */
.carousel {
    z-index: 1;
}

main {
    background-color: #000000;
}

.favicon {
    background-color: #1DD6E5;
}

.h-icon {
    height: 40px;

}

.icono-blanco {
    margin-top: 20px;
    color: #FFFF;
}

footer {
    background-color: #1DD6E5;

}


.icon {
    color: white;
}